.cool-btn {
    background: linear-gradient(45deg, #ff6b6b, #556270);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.glow {
    box-shadow: 0 0 15px rgba(255, 107, 107, 0.8);
}

.lightMode {
    background-color: white;
    color: #454545;
  }
  
  body {
    background-color: #454545;
    color: white;
  }